# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SeniorYear\flutter_event_tracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
